.Rproj.user
.Rhistory
.RData
.Shiny
.Ruserdata
*.RData
*.Shiny
*.tar.gz
*.tar
*.zip
*.pdf
*.xlsx
*.csv
*.dat
*.aux
*.idx
*.lof
*.log
*.lot
*.out
*.toc
*.jpeg
*.jpg
*.png
*.txt
*.html
*.synctex.gz
Resultados/*
RData/*
Shiny/*
Data/*
Mapa/*
Drivers/*
RSQL/*
